body {
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}

.clock {
    width: max-content;
    margin: auto;
    height: 100vh;
    display: grid;
    place-items: center;
	color: black;
	font-size: 80px;
}
